:root { /* Declaração de Variáveis */
    --vermelho: #E50914;
    --preta: #141414;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante o tamanho dos Elementos */
    text-decoration: none;
}

body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex; /* Alinhamento de elementos, padrão é "inline" */
    flex-direction: row; /* Elementos na horiziontal, valor padrão da propriedade é "row" */
    align-items: center; /* Centraliza os elementos */
    justify-content: space-between; /* Espaçamento horizontal de elementos */
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* Filme Principal */
.main-media {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0, 50%)), url("../img/capa.jpg");
    
    height: 400px;
    background-size: cover; /* Especificar o tamanho da imagem de fundo */
    
    display: flex;
    flex-direction: column; /* Elementos na vertical */
    justify-content: center;
    align-items: flex-start; /* Começo dos elementos */
}

.main-media .synopsis {
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-media .title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-media .button {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer; /* Cursor do mouse sobre o elemento */
    transition: .3s ease all;
}

.main-media .button:hover {
    background-color: white;
    color: black;
}

.main-media .button i {
    margin-right: 8px;
}

.main-media .container {
    width: 70%;
}

.container {
    margin-left: 20px;
}

.media-box {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-media {
    margin-top: 10px;
}